<h1>Mes équipements mis en ligne</h1>

<% @equipments.each do |equipment| %>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= cl_image_tag(equipment.picture,width: 200, height: 250, crop: :fill) %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=equipment.title%></h5>
        <p class="card-text"><%=equipment.details%></p>
        <p class="card-text"><small class="text-muted"><%=equipment.material_category%></small></p>
        <p class="card-text"><%=equipment.price_per_day%>€/jour - <%=equipment.location%></p>
      </div>
    </div>
  </div>
</div>
<% end %>

