<div class="my-equipments-title">
  <h1>Mes équipements mis en ligne</h1>
</div>
<div class="container">
  <div class="row">
    <% @equipments.each do |equipment| %>
    <div class="col-4 mb-3 p-2">
      <div class="my-equipments-card d-flex ">
        <div class="mx-auto mt-2">
          <%= cl_image_tag(equipment.picture,width: 150, height: 200, crop: :fill) %>
        </div>
        <div class="d-flex flex-column ml-3">
          <h5 class="" style="height:50px;"><%=equipment.title%></h5>
          <p class=""><%=equipment.details%></p><br>
          <p class=""><%=equipment.material_category%></p><br>
          <div class="d-flex">
            <p class="pr-5"><strong><%=equipment.price_per_day%>€/jour</strong></p>
            <p class="pl-3"><%=equipment.location%></p>
          </div>
        </div>
      </div>
    </div>
      <% end %>
    </div>
  </div>
</div>

