<%= simple_form_for @equipment, url: owner_equipments_path do |f| %>

  <div class="sign-up-form form-inputs mx-auto width-form mt-5">
    <h2 class="text-center mb-3">Ajouter un équipement à louer</h2>
    <%= f.input :title,
                label: 'Titre',
                placeholder: 'Exemple : boots snowboard taille 38',
                required: true,
                autofocus: true,
                input_html: { class: 'radius' } %>
    <%= f.input :details,
                placeholder: "Décrivez votre équipement",
                required: true,
                autofocus: true,
                input_html: { class: 'radius' } %>
    <%= f.input :material_category,
                collection: Equipment::CATEGORY,
                label: 'Catégories',
                required: true,
                input_html: { class: 'radius' } %>
    <%= f.input :location,
                label: 'Localisation',
                placeholder: 'Exempe : Lyon, Grenoble, ...',
                required: true,
                input_html: { class: 'radius' } %>
    <%= f.input :picture,
                label: "Photo de l'équipement",
                required: true %>
    <%= f.input :picture_cache, as: :hidden %>
    <%= f.input :price_per_day,
                label: 'Prix de location par jour',
                placeholder: '15',
                required: true,
                input_html: { class: 'radius' } %>

    <div class="form-actions">
      <%= f.button :submit, "Ajouter votre équipement", class:'btn btn-warning font-weight-bold w-100'%>
    </div>
    <% end %>

    <form action="/"></form>
  </div>

