

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="sign-up-form form-inputs mx-auto width-form mt-5">
    <h2 class="text-center mb-3">Créer un compte</h2>
    <div class="d-flex mb-3">
      <p class="pr-2">Vous avez déjà un compte ?</p>
      <%= render "devise/shared/links" %>
    </div>

    <%= f.input :name,
                label: 'Entrez votre nom complet',
                placeholder: 'Prénom Nom',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" },
                input_html: { class: 'radius' }%>
    <%= f.input :email,
                placeholder: 'Adresse e-mail',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                input_html: { class: 'radius' }%>
    <%= f.input :password,
                label: 'Mot de passe',
                required: true,
                hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" },
                input_html: { class: 'radius' } %>
    <%= f.input :avatar,
                label: "Photo de votre avatar",
                required: true %>
    <%= f.input :avatar_cache, as: :hidden %>
    <%= f.input :password_confirmation,
                label: 'Confirmez votre mot de passe',
                required: true,
                input_html: { autocomplete: "new-password" },
                input_html: { class: 'radius' } %>

  <div class="form-actions">
    <%= f.button :submit, "Créer votre compte", class:'btn btn-primary w-100 font-weight-bold' %>
  </div>
<% end %>
  </div>
