<div class="banner">
  <h1>Bienvenue chez FROZEN!</h1>
  <p>Louez facilement tout votre équipement de ski</p>
  <%= link_to new_user_registration_path do %>
    <button type="button" class="btn btn-light btn-banner">Louez!</button>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <% @equipments.each do |equipment| %>
        <div class="card mb-3 home-equipment-card">
          <div class="row no-gutters">
            <div class="col-4">
              <%= image_tag equipment.picture %>
            </div>
            <div class="col-8">
              <div class="card-body">
                <h2 class="card-title"><%= link_to equipment.title, equipment_path(equipment) %></h2>
                <div class="row bottom-part">
                  <p class="card-category"><%=  equipment.material_category %></p>
                  <p class="card-price"><%=  equipment.price_per_day %>€/jour</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="footer">
  <p>Louez facilement tout votre équipement de ski</p>
</div>
