<div class="container mt-5 align-items-top">
  <div class="row">
    <div class="col-7">
      <div class="card card-show-equipment">
        <div class="photo-equipment-show mx-auto mt-2">
          <%= cl_image_tag @equipment.picture, size: '250x250', class:"mx-auto" %>
        </div>
        <div>
          <div class="row header border-top">
            <h2 class="title text-center"><%= @equipment.title %></h2>
            <div class="owner">
              <div class="avatar">
                <%= cl_image_tag @equipment.owner.avatar, height:40, class: 'avatar-bordered' %>
              </div>
              <p class="muted-text"><%= @equipment.owner.name %></p>
            </div>
          </div>
            <p class="card-category"><small class="text-muted"><%=@equipment.material_category%></small></p>
            <div class="location">
              <%= image_tag 'location.svg', height: 25, width: 25, crop: :fill %>
              <p class="full-address"><%= @equipment.location %></p>
            </div>
            <p class="details text-justify"><%= raw @equipment.details.gsub(".", ".<br>") %></p>
            <p class="price text-warning"><strong id="price_per_day"><%= @equipment.price_per_day %>€ / jour</strong></p>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="right-part">

        <div class="map-show">
          <div
              id="map"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
        </div>

        <div class="card form-booking">
          <h2 class="title-form text-center mt-2">Demande de réservation</h2>
          <div class="card-body">
            <div class="form-inputs">
              <%= simple_form_for [@equipment, @booking] do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
              <%= f.input :starting_date, as: :string, label: 'Date début location', required: false, input_html: {class: "datepicker"} %>
              <%= f.input :ending_date, as: :string, label: 'Date fin location',required: false, input_html: {class: "datepicker"} %>
              <div class="form-actions text-center">
                <%= f.button :submit, "Soumettre votre réservation", class:'btn btn-flat-voir' %>
              </div>
            <% end %>
            </div>
          </div>
        </div>

     </div>
  </div>
</div>
