<div class="container">
  <h2 class="text-center mt-3">Vos réservations</h2>

<% @bookings.each do |booking| %>
  <div class="card flex-row">
      <%= cl_image_tag(booking.equipment.picture, width: 200, height: 200, crop: :fill) %>
    <div class="w-75">
        <h4 class=""><%=booking.equipment.title%></h4>
        <p class="">Locataire - <%= booking.user.name%></p><br>
        <p class="">Du <%= booking.starting_date%> au <%=booking.ending_date%></p><br>
        <p class=""><strong><%=booking.total_price%>€ / jour</strong></p><br>
        <%  if booking.status == "pending" %>
          <p class="card-text" style="color: orange">En attente</p>
        <% elsif booking.status == "accepted" %>
          <p class="card-text" style="color: green">Accepte</p>
        <% else %>
          <p class="card-text" style="color: red">Decline</p>
        <% end %>
    </div>
    <% if booking.status == "pending" %>
      <div class="buttons-booking">
        <%= link_to decline_owner_booking_path(booking), method: :patch do %>
          <button type="button" class="btn btn-danger btn-decline"><i class="fas fa-times"></i></button>
        <% end %>
        <%= link_to accept_owner_booking_path(booking), method: :patch do %>
          <button type="button" class="btn btn-success btn-accept"><i class="fas fa-check"></i></button>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
</div>
