<div class=" tables px-5">
  <h2 class="text-center m-5">Mes équipements loués</h2>

<table class="table table-striped">

  <thead>
    <tr>
      <th scope="col">Equipement loué</th>
      <th scope="col">Propriétaire</th>
      <th scope="col">Du :</th>
      <th scope="col">Au :</th>
      <th scope="col">Prix</th>
      <th scope="col">Statut</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <th><%= booking.equipment.title%></th>
        <th><%= booking.user.name%></th>
        <th><%= I18n.localize(booking.starting_date, format: '%d %b %Y')%></th>
        <th><%= I18n.localize(booking.ending_date, format:'%d %b %Y')%></th>
        <th><%=booking.total_price%>€ / jour</th>

        <th>
          <% if booking.status == "pending" %>
            <!-- <div class="buttons-booking"> -->
            <%= link_to decline_owner_booking_path(booking), method: :patch do %>
            <button type="button" class="btn btn-danger btn-decline"><i class="fas fa-times"></i></button>
            <% end %>
            <%= link_to accept_owner_booking_path(booking), method: :patch do %>
            <button type="button" class="btn btn-success btn-accept"><i class="fas fa-check"></i></button>
            <% end %>
            <!-- </div> -->
          <% elsif booking.status == "accepted" %>
            <p class="card-text" style="color: green">Accepté</p>
          <% else %>
            <p class="card-text" style="color: red">Décliné</p>
          <% end %>
        </th>
      </tr>
    <% end %>
  </tbody>

</table>

<!--  const options = { weekday: 'long', month: 'long', day: 'numeric', hour: 'numeric' };
  const formattedDate = today.toLocaleDateString("en-US", options); -->
