<div class="container container-bookings">
  <h2>Demandes de réservation de mes équipements</h2>

<% @bookings.each do |booking| %>
<div class="card booking-equipment-card">
  <div class="row no-gutters">
    <div class="col-4">
      <%= cl_image_tag(booking.equipment.picture) %>
    </div>
    <div class="col-8">
      <div class="card-body">
        <h3 class="card-title"><%=booking.equipment.title%></h3>
        <p class="card-text">Locataire - <%= booking.user.name%></p>
        <p class="card-text">du <%= booking.starting_date%> au <%=booking.ending_date%></p>
        <p class="card-price"><%=booking.total_price%>€</p>
        <%  if booking.status == "pending" %>
          <p class="card-text" style="color: orange">En attente</p>
        <% elsif booking.status == "accepted" %>
          <p class="card-text" style="color: green">Accepté</p>
        <% else %>
          <p class="card-text" style="color: red">Décliné</p>
        <% end %>
      </div>
    </div>
    <% if booking.status == "pending" %>
      <div class="buttons-booking">
        <%= link_to decline_owner_booking_path(booking), method: :patch do %>
          <button type="button" class="btn btn-danger btn-decline"><i class="fas fa-times"></i></button>
        <% end %>
        <%= link_to accept_owner_booking_path(booking), method: :patch do %>
          <button type="button" class="btn btn-success btn-accept"><i class="fas fa-check"></i></button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% end %>
</div>
