<div class=" tables px-5">
  <h2 class="text-center m-5">Mes demandes de réservations</h2>


<% if @bookings.empty?  %>
   <h5 class="text-center font-weight-light">Vous n'avez pas de demande de réservation en cours.</h5>


<% else %>
<table class="table table-striped">

  <thead>
    <tr>
      <th class="center" scope="col">Equipement</th>
      <th scope="col">Lieu / Propriétaire</th>
      <th scope="col">Du :</th>
      <th scope="col">Au :</th>
      <th scope="col">Prix total</th>
      <th scope="col">Statut</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <th><%= link_to booking.equipment.title, equipment_path(booking.equipment)%></th>
        <th><%= booking.equipment.location%> / <%= booking.equipment.owner.name %></th>
        <th><%= I18n.localize(booking.starting_date, format: '%d %b %Y')%></th>
        <th><%= I18n.localize(booking.ending_date, format:'%d %b %Y')%></th>
        <th><%=booking.total_price%>€</th>

        <th>
          <% if booking.status == 'pending'%>
            <div class="btn btn-warning mr-3">En attente</div>
            <%= link_to cancel_path(id: booking.id), method: :patch, data: { confirm: "Etes-vous certain de vouloir annuler?" }, class: 'text-secondary cancel' do %>
            <i class="fa fa-times-circle fa-2x" data-toggle="tooltip" data-placement="top" title="Delete"></i>
            <% end %>
          <% elsif booking.status == 'accepted'%>
            <div class="btn btn-success">Accepté</div>
          <% elsif booking.status == 'declined'%>
            <div class="btn btn-danger">Décliné</div>
          <% else%>
            <div class="btn btn-danger">Annulé</div>
         <% end %>
        </th>
      </tr>
    <% end %>
  </tbody>

</table>

<% end %>





