<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "frozen.gif" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <%if current_page?('http://localhost:3000/owner/equipments')%>
        <li class="nav-item active">
          <%= link_to "Mes annonces", owner_equipments_path, class: "nav-link" %>
        </li>
        <%else%>
        <li class="nav-item">
        <%= link_to "Mes annonces", owner_equipments_path, class: "nav-link" %>
        </li>
        <%end%>

        <%if current_page?('http://localhost:3000/owner/bookings')%>
        <li class="nav-item active">
          <%= link_to "Mes équipements loués", owner_bookings_path, class: "nav-link" %>
        </li>
        <%else%>
        <li class="nav-item">
          <%= link_to "Mes équipements loués", owner_bookings_path, class: "nav-link" %>
        </li>
        <%end%>

        <%if current_page?('http://localhost:3000/bookings')%>
        <li class="nav-item active">
          <%= link_to "Mes demandes", bookings_path, class: "nav-link" %>
        </li>
        <%else%>
        <li class="nav-item">
          <%= link_to "Mes demandes", bookings_path, class: "nav-link" %>
        </li>
        <%end%>
        <br>
        <li class="nav-item dropdown px-3">
          <%= cl_image_tag current_user.avatar, height: 40, width: 40, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" style="border-radius:5px;" aria-labelledby="navbarDropdown">
            <%= link_to "Deconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class: "nav-link text-warning" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


