
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-form form-inputs mx-auto width-form mt-5">
    <h2 class="mb-3 text-center">Se connecter</h2>
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" },
                input_html: { class: 'radius' } %>
    <%= f.input :password,
                label: "Mot de passe",
                required: false,
                input_html: { autocomplete: "current-password" },
                input_html: { class: 'radius' } %>
    <%= f.input :remember_me,
                label: "Se souvenir de moi",
                as: :boolean if devise_mapping.rememberable? %>

    <div class="form-actions">
    <%= f.button :submit, "Se connecter", class:'btn btn-primary w-100 font-weight-bold' %>
    </div>
    <%= render "devise/shared/links" %>
  </div>

<% end %>


